# Output files
build*/*
cmake-*/*
doc/*

# Required libraries
*.dll

# Editor config
.idea/*
.vscode/*
.vs/*
CMakeSettings.json
*/shadertoolsconfig.json

# Internal notes
reference/*

# Debug output
*.il
*.isa