# Output files
build*/*
cmake-build-debug*/*
cmake-build-relwithdebinfo*/*
cmake-build-release*/*
doc/*

# Required libraries
*.dll

# Editor config
.idea/*
.vscode/*

# Internal notes
reference/*
